[submodule "ReID_tutorial_slides"]
	path = Tutorials/Person ReID/ReID_tutorial_slides
	url = https://github.com/michuanhaohao/ReID_tutorial_slides.git

[submodule "LSQ"]
	path = Codes/LSQ
	url = https://github.com/una-dinosauria/local-search-quantization.git
