[submodule ".\\Tutorials\\Person ReID\\Tutorial Slides"]
	path = .\\Tutorials\\Person ReID\\Tutorial Slides
	url = https://github.com/michuanhaohao/ReID_tutorial_slides.git
[submodule ".\\Codes\\LSQ"]
	path = .\\Codes\\LSQ
	url = https://github.com/una-dinosauria/local-search-quantization.git
